#formContainer {
    width: 40%;
    
}

.rows {
    width: 70%;
    display: block;

}

.column {
    width: 100%;
    display: inline-block;

}

.theLabels {
    width: 30%;
    float: left;
}

.theInputs {
    width: 60%;
    float: right;
}